@import '../../styles/utils/variables';

.color {
  position: relative;

  width: 30px;
  height: 30px;

  border: 2px solid #ffffff;
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 9px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: solid 1px;

    transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s linear;
  }

  &::after {
    content: '';

    transition: background-color 0.7s linear;
  }

  &:hover {
    &::before {
      border: solid 1px $color-primary;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;

      background-color: $color-primary;

      width: 12px;
      height: 12px;
      border-radius: 50%;

      transform: translateX(-50%) translateY(-50%);
    }
  }

  &Active {
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;

      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: solid 1px $color-primary;

      transform: translateX(-50%) translateY(-50%);
    }

    &::after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;

      background-color: $color-primary;

      width: 12px;
      height: 12px;
      border-radius: 50%;

      transform: translateX(-50%) translateY(-50%);
    }
  }
}
