@import '../../styles/utils/mixins';

$card-width: 230px;

.list {
  background-color: var(--color-semi-background);
  justify-content: center;
  display: grid;
  gap: 24px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 230px);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

@include onTablet {
  .list {
    display: grid;
    column-gap: 64px;
    gap: 32px;
  }
}

@media (min-width: 900px) {
  .list {
    display: grid;
    gap: 40px;
  }

  .fourItem {
    gap: 40px;
  }
}
