@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

$card-width: 230px;

.list {
  background-color: $color-black;
  justify-content: center;
  display: grid;
  row-gap: 24px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

@include onTablet {
  .list {
    display: grid;
    grid-template-columns: repeat(2, $card-width);
    column-gap: 64px;
    row-gap: 32px;
  }
}

@media (min-width:900px) {
  .list {
    display: grid;
    grid-template-columns: repeat(3, $card-width);
    column-gap: 48px;
  }

  .fourItem{
    grid-template-columns: repeat(4, $card-width);
    column-gap: 4%;
  }
}