@import '../../styles/main.scss';

.container {
  display: grid;
  justify-content: center;
  row-gap: 24px;

  padding: 0 24px 24px 24px;
}

@media (min-width:900px) {
  .container {
    grid-template-columns: repeat(2, 400px);
    
    column-gap: 31px;
  }
}


@media (min-width: 1400px) {
  .container {
    grid-template-columns: repeat(3, 400px);
    
    column-gap: 51px;
  }
}