@import '../../styles/utils/mixins';

.categories {
  display: none;
  background-color: var(--color-semi-background);
  border-radius: 6px;
  width: 25%;
  height: fit-content;

  @include onDesktop {
    display: block;
  }

  &__header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__input {
    display: flex;
    align-items: center;
    background-size: cover;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform: rotate(-180deg);

    & * {
      width: 14px;
      height: 8px;
      stroke: var(--color-contrast);
    }
  }

  .rotate {
    transform: rotate(0deg);
  }

  &__dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    padding: 0 35px 25px;
    height: 352px;
    min-width: 230px;
    overflow: hidden;
    transition: all 0.3s;
  }

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
  }

  &__customLink {
    color: var(--color-grey);
    text-decoration: none;
    padding: 6px 0px;
    width: fit-content;
  }

  &__customLink:hover {
    color: var(--color-contrast);
    transition: 0.6s;
  }

  .activeLink {
    position: relative;
    color: var(--color-contrast);
  }

  .activeLink::after {
    border-radius: 1px;
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--color-primary);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__rights {
    align-self: flex-end;
    text-decoration-line: underline;
    color: #576067;
  }

  &__rights:hover {
    color: var(--color-primary);
  }
}

@include onDesktop {
  .categories {
    display: block;
    position: sticky;
    top: 24px;
  }
}

.invisible {
  height: 0;
  padding-bottom: 0;
}
