@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.main:focus-within .title {
  color: $color-light;
}

.input {
  font-family: inherit;
  font-weight: 400;
  line-height: 16px;
  font-size: 14px;
  padding: 12px;
  outline: none;
  color: $color-grey;
  background-color: $color-black;
  border: 1px solid $color-semi-dark;
  border-radius: 8px;
  width: 100%;
  transition: all 0.3s;

  &:hover {
    border-color: $color-grey;
  }

  &:focus {
    color: $color-light;
    border-color: $color-light;
  }
}

.title {
  padding-left: 8px;
  color: $color-grey;
  font-weight: 400;
  line-height: 16px;
  font-size: 14px;
  transition: all 0.3s;
}