@import '../../styles/utils/mixins';

.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  column-gap: 2%;
}

.categoriesContainer {
  position: sticky;
  top: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  background-color: var(--color-semi-background);
  border-radius: 8px;
  padding: 0 24px;

  @include onDesktop {
    max-width: 960px;

    width: 75%;
  }
}

.title {
  display: block;
  padding: 24px 24px 0;
  margin-bottom: 24px;
  text-transform: capitalize;
}

.input {
  width: 240px;
}

.settings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  max-width: 872px;
  margin-bottom: 24px;
  padding-top: 24px;
}

.select {
  width: 140px;
}

.list,
.pagination {
  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 32px;
  }
}

.loaderContainer {
  width: 100%;
  padding: 40px;
  height: 200px;

  @include onTablet {
    height: 400px;
  }
}
