@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.modal {
  background-color: $color-semi-dark;
  border-radius: 8px;
  padding: 24px;

  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;

  width: 100vw;
  max-width: 1000px;

  transform: scale(0);
  
  @include onTablet {
    width: 70vw;
  }
}

.modalOpen {
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.emptyCard {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $color-hover-primary;
}

.closeModal {
  background: url('../../images/cross.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 13px;
  width: 13px;
  cursor: pointer;
  border: none;

  &:hover {
    filter: brightness(150%);
  }
} 

.blur {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $color-black;
  opacity: 70%;
  z-index: 99;
}

.blur__visible {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.modalCards {
  max-height: 600px;
  overflow-y: auto;
}

.modalTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.modalCard:not(:last-child) {
  margin-bottom: 14px;
}

.cardInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 18px;
}

.totalPrice {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $color-grey;
}

.price {
  color: #F6F6F7;
}
