@import '../../styles/utils/mixins';

.title {
  color: var(--color-grey);
  padding-left: 6px;
  font-weight: 400;
}

.main {
  font-weight: 400;
  width: 100%;
  position: relative;
  user-select: none;
}

.arrow {
  stroke: var(--color-main-background);
  transition: all 0.3s;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-main-background);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--color-semi-background);
  height: 40px;

  &:hover {
    border-color: var(--color-grey);

    & svg {
      stroke: var(--color-grey);
    }

    & .isActive {
      stroke: var(--color-contrast);
    }
  }
}

.content {
  position: absolute;
  width: 100%;
  top: 105%;
  border-radius: 8px;
  padding: 6px 0;
  background-color: var(--color-semi-background);
  border: 1px solid var(--color-grey);
  border-color: var(--color-contrast);
  z-index: 10;
}

.item {
  transition: all 0.3s;
  padding: 6px 12px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-main-background);
  }
}

.isActive {
  border-color: var(--color-contrast);
  stroke: var(--color-contrast);

  &:hover {
    border-color: var(--color-contrast);
    stroke: var(--color-contrast);
  }
}
