.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-main-background);
  border: 1px solid #19191976;

  width: 230px;
  height: 374px;

  transition: box-shadow 0.3s, border-radius 0.3s, border 0.3s;

  &:hover {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  }

  border-radius: 8px;
}

.image {
  display: flex;
  position: relative;
  margin: 0 auto;
  height: 185px;
  width: fit-content;
  object-fit: contain;
}

.heart {
  fill: none;
  cursor: pointer;
  transition: fill 0.7s;

  &:hover {
    fill: var(--color-primary);
  }
}

.iconContainer {
  position: absolute;
  background-color: transparent;
  border-radius: 10px;
  z-index: 2;
  top: 5px;
  left: 2px;
}

.heart__active {
  fill: var(--color-primary);
}

.imageContainer {
  display: flex;
  position: absolute;
  padding: 8px 0 0 8px;
  z-index: 2;

  & svg {
    fill: var(--color-contrast);
  }
}

.imageBackground {
  display: block;
  justify-content: center;
  height: 186px;

  transition: box-shadow 0.3s, border-radius 0.3s, border 0.3s;
  background-color: var(--image-background);
  border-radius: 8px;
}

.card:hover > .imageBackground {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.title {
  margin-bottom: 8px;
  min-height: 42px;
  display: flex;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.link {
  color: var(--color-contrast);
}

.prices {
  display: flex;
  align-items: center;
}

.price {
  position: relative;
  margin-right: 5px;

  font-weight: 800;
  font-size: 18px;
  line-height: 30px;

  color: var(--color-primary);

  &::before {
    content: '$';
  }
}

.priceBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fullPrice {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: var(--color-grey);

  &::before {
    content: '$';
  }
}

.breakLine {
  margin-bottom: 12px;
  width: 100%;

  border: 1px solid var(--color-grey);
}

.name {
  display: flex;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-self: end;
}

.names {
  font-size: 12px;
  line-height: 15px;

  color: var(--color-grey);
}

.chars {
  text-align: end;
  font-weight: 500;
  color: var(--color-contrast);
  font-size: 12px;
  line-height: 16px;
}

.info {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
}

.infoContainer {
  padding: 12px;
}

.disabled {
  pointer-events: none;
}
