@import '../../styles/main.scss';

.favorites {
  margin: 0 auto;
  max-width: 1262px;
  background-color: $color-semi-dark;


  &__title {
    border-radius: 8px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 26px;
    font-weight: 500;
    line-height: 20px;
    background-color: $color-black;

    @include onDesktop {
      padding-bottom: 36px;
    }
  }

  &__list {
    background-color: $color-black;
    border-radius: 10px;

    @include onTablet {
      padding-bottom: 24px;
    }
  }
}