@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include onTablet {
    flex-direction: row;
    justify-content: left;
  }
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 375px;

  @include onTablet {
    flex-direction: column;
  }
}

.mainPhotoContainer {
  width: 375px;
  height: 376px;
  display: flex;
  justify-content: center;

  @include onTablet {
    margin-right: 20px;
  }
}

.mainImage {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.imagesContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  width: 70px;
  height: 70px;

  @include onTablet {
    margin-top: 0px;
  }
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.isActive {
  display: flex;
  justify-content: center;
  transform: translateY(-10px);
  box-sizing: border-box;

  @include onTablet {
    transform: translateX(-10px);
  }
}
