@import '../../styles/utils/mixins';

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include onTablet {
    flex-direction: row;
    justify-content: left;
  }
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 6px;

  @include onTablet {
    flex-direction: column;
  }
}

.mainPhotoContainer {
  padding: 25px;
  background-color: #fff;
  border-radius: 8px;
  width: 275px;
  height: 275px;
  display: flex;
  justify-content: center;

  @include onTablet {
    margin-right: 20px;
    width: 375px;
    height: 376px;
  }
}

.mainImage {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 95%;
  width: auto;
}

.imagesContainer {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

  width: 50px;
  height: 50px;

  transition: all 0.3s;
  @include onTablet {
    margin-top: 0px;
    width: 70px;
    height: 70px;
  }
}

.image {
  height: 90%;
  width: auto;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.isActive {
  display: flex;
  justify-content: center;
  transform: translateY(-10px);
  box-sizing: border-box;

  @include onTablet {
    transform: translateX(-10px);
  }
}
