@import '../../styles/utils/mixins';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  width: 100%;
  padding: 24px;

  background-color: var(--color-semi-background);
}

.title {
  margin-bottom: 20px;
}

.description :not(:last-child) {
  margin-bottom: 17px;
}

.text {
  font-weight: 400;
  font-size: 12px;
}
