@import '../../../styles/utils/mixins';

.item {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.dimmed {
  color: var(--color-primary);
  opacity: 0.8;
}

.countAndPrice {
  display: flex;
  justify-content: space-between;
  width: 100px;
  gap: 24px;
}
