:root {
  --color-grey: #a8a8a8;
  --color-primary: #efb41a;
  --color-image-background: #f6f6f7;

  --color-hover-primary: #a17709;
  --color-hover-secondary: #5c5c5c80;

  --color-main-background: #2d2d2f;
  --color-semi-background: #191919;
  --color-contrast: #f6f6f7;
  --color-contrast-background: #ecebeb;
  --color--sale-banner-background: #191919;
}
