@import '../../styles/utils/mixins';

.reels {
  width: 30px;
  background-color: var(--color-another-theme);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;

  @include onTablet {
    width: 38px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  overflow: hidden;
  transform: translateX(16px) rotate(90deg);
  transition: all 0.3s;
  scale: 0.9;

  @include onTablet {
    height: 20px;
    width: 20px;
    transform: translateX(20px) rotate(45deg);
  }
}

.background {
  width: 100%;
  height: 50%;
  background-color: var(--color-primary);
}

.primary {
  width: 100%;
  height: 50%;
  background-color: var(--color-main-background);
  transition: all 0.3s;
}

.isLight {
  transform: translateX(0) rotate(-45deg);
}
