@import '../../../../styles/utils/mixins';

.arrowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main-background);

  width: 32px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;

  & svg {
    stroke: var(--color-grey);
  }

  &:hover {
    background-color: var(--color-primary);

    & svg {
      stroke: var(--color-contrast);
    }
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;

  &:hover {
    background-color: var(--color-main-background);

    & svg {
      stroke: var(--color-grey);
    }
  }
}
