@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 16px;

  @include onTablets {
    height: 96px;
    padding: 32px;
  }
}

.section {
  display: flex;
  align-items: center;
  gap: 16px;

  @include onTablets {
    gap: 24px;
  }
}

.homeLink {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: $color-light;

  @include onTablets {
    font-size: 20px;
    line-height: 24px;
  }
}