@import '../../styles/utils/mixins';

.button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  position: relative;
}

.icon {
  height: 16px;
  width: 16px;

  @include onTablet {
    height: 20px;
    width: 20px;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 16px;

  @include onTablet {
    height: 96px;
    padding: 32px;
  }
}

.section {
  display: flex;
  align-items: center;
  gap: 16px;

  @include onTablet {
    gap: 24px;
  }
}

.homeLink {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--color-contrast);
  text-transform: uppercase;

  @include onTablet {
    font-size: 20px;
    line-height: 24px;
  }
}

.burgerButton {
  @include onDesktop {
    display: none;
  }
}

.burgerImage:hover * {
  stroke: var(--color-contrast);
}

.favourites:hover * {
  stroke: var(--color-primary);
}

.activeLink * {
  stroke: var(--color-primary);
}

.cart:hover * {
  fill: var(--color-primary);
}

.userAccount {
  display: flex;
  align-items: center;
  gap: 4px;

  @include onTablet {
    gap: 10px;
  }
}

.userName {
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;

  color: #a8a8a8;

  @include onTablet {
    font-size: 10px;
    line-height: 12px;
  }
}

.loginButton {
  background-color: var(--color-contrast);
  border: 1px solid var(--color-grey);
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;

  @include onTablet {
    width: 36px;
    height: 36px;
  }
}

.dog {
  width: 16px;
  height: 16px;

  @include onTablet {
    width: 20px;
    height: 20px;
  }
}

.userimage {
  width: 100%;
}
