@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.blur {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $color-black;
  opacity: 70%;
}

.blur__visible {
  display: block;
}

.burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vh;
  height: 100vh;
  background-color: $color-black;
  padding: 24px 36px 36px;
  transform: translateX(-100%);
  transition: 0.5s;

  &__visible {
    transform: translateX(0);
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }


  &__homeLink {
    font-weight: 700;
    font-size: 20px;
    line-height: 20x;
    color: $color-light;
    text-transform: uppercase;
  
    @include onTablet {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__icon {
    display: flex;
    align-self: center;
    background-image: url('../../images/iconBurger.svg');
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 13px;
    height: 13px;
    appearance: none;
    padding: 0;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter 0.3s ease-in-out;

    @include onTablet {
      width: 24px;
      height: 24px;
    }
  }

  .burger__icon:hover {
    filter: brightness(150%);
  }

  .categories__title {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 6px;
  }

  .categories__dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 500;
  }

  .categories__customLink {
    color: $color-grey;
    text-decoration: none;
    padding-top: 18px;
  }

  .categories__customLink:hover {
    color: $color-light;
    transition: 0.6s;
  }

  .categories__rights { 
    align-self: flex-end;
    padding-top: 100%;
    text-decoration-line: underline;
    color: #576067;
  }
}

