@import '../../styles/utils/mixins';

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  column-gap: 24px;
}

.container {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  width: 100%;
  margin-bottom: 24px;
}

.productList {
  width: 100%;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@include onTablet {
  .about {
    width: 50%;
  }

  .techSpecs {
    padding: 0;
    width: 50%;
  }

  .productInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding: 0;
  }
}

@include onDesktop {
  .about {
    width: 60%;
  }

  .techSpecs {
    width: 40%;
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding: 0;
    width: 75%;
  }

  .loader {
    display: flex;
    align-items: center;

    margin: 0 auto;
    min-width: 800px;
    min-height: 800px;

    padding: 100px;
  }
}
