@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;

  border-radius: 8px;

  background-color: $color-black;

  @include onDesktop {
    flex-direction: row;
    align-items: start;
    max-width: 944px;
  }
}

.gallery {
  margin-bottom: 16px;
  @include onDesktop {
    margin-right: 40px;
  }
}

.sellection {
  align-self: flex-start;
  flex: 50%;
}
