@import '../../styles/utils/mixins';

button {
  border: none;
}

.closeButton {
  background: url('../../images/cross.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 13px;
  width: 13px;
  cursor: pointer;
  justify-self: flex-end;

  grid-column: 3;
  grid-row: 1;

  &:hover {
    filter: invert(75%);
  }
}

.container {
  background-color: var(--color-semi-background);
  border-radius: 8px;

  padding: 6px 14px 14px 14px;

  display: grid;

  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);

  row-gap: 13px;
}

.imageContainer {
  height: 60px;
  width: 60px;
  background-color: #c4c4c4;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 14px;
}

.image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.title {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  margin-right: 20px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.counterContainer {
  grid-row: 2;
  grid-column: 1;

  margin-right: 10px;

  max-width: 87px;
}

.productsCounter {
  max-width: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.countButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  border-radius: 6px;

  transition: all 0.3s linear;
}

.decrease {
  margin-right: 16px;

  background-color: var(--color-grey);

  &:hover {
    background-color: #6a6a6a;
  }

  &Active {
    background-color: #6a6a6a;
  }
}

.count {
  margin-right: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-grey);

  width: 8px;

  text-align: center;
}

.increase {
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-hover-primary);
  }

  &Active {
    background-color: var(--color-hover-primary);
  }
}

.price {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  max-width: 57px;

  grid-column: 3;

  justify-self: flex-end;

  margin-right: 10px;
}

.disabledButton {
  pointer-events: none;

  background-color: #6a6a6a;
  opacity: 0.5;
}

@include onTablet {
  .container {
    display: grid;
    grid-template-columns: 190px 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    align-items: center;
    justify-content: center;
  }

  .counterContainer {
    grid-row: 1;
    grid-column: 2;

    justify-self: flex-end;
  }

  .price {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    grid-column: 3;

    justify-self: flex-end;

    margin-right: 10px;
  }

  .closeButton {
    grid-column: 4;
    grid-row: 1;
  }
}
