@import '../../styles/utils/variables';

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 12px;
  margin-bottom: 10px;
}

.item {
  font-size: 12px;
  color: #666;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    color: #666;

    &:hover {
      text-decoration: none;
    }
  }
}
.pathLink {
  font-size: 12px;
  text-decoration: none;
  color: $color-grey;
}

.breadcrumbs:last-child {
  pointer-events: none;
  color: $color-hover-secondary;
}

// &_link {
//   font-weight: 700;
//   font-size: 0.75rem;
//   color: $color-white;

//   &:last-child {
//     color: $color-secondary;
//     pointer-events: none;
//   }
// }
