@import '../../styles/utils/variables';

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 12px;
  margin-bottom: 10px;
}

.pathLink {
  font-size: 12px;
  text-decoration: none;
  color: $color-grey;
}

.breadcrumbs:last-child {
  pointer-events: none;
  color: $color-hover-secondary;
}
