@import './styles/utils/mixins';

.app {
  @include onDesktop {
    padding: 0 40px;
  }
}

.header {
  max-width: 1304px;
  margin: 0 auto;
}

.main {
  max-width: 1304px;
  margin: 0 auto 24px;
}

.footer {
  max-width: 1304px;
  margin: 0 auto 24px;
}
