@import './styles/utils/mixins';
:root {
  --toastify-toast-width: 290px;
  --toastify-color-light: #a8a8a8;
  --toastify-color-black: #a8a8a8;
}

.app {
  @include onDesktop {
    padding: 0 40px;
  }
}

.header {
  max-width: 1304px;
  margin: 0 auto;
}

.main {
  max-width: 1304px;
  min-height: 80vh;
  margin: 0 auto 24px;

  @include onTablet {
    min-height: 70vh;
  }
}

.footer {
  max-width: 1304px;
  margin: 0 auto 24px;
}
