@import '../../styles/utils/mixins';

.container {
  width: 60px;
  height: 26px;
  border-radius: 13px;
  position: relative;
  cursor: pointer;

  background-color: var(--color-grey);

  &::after {
    content: '';
    display: block;
    height: 24px;
    width: 24px;
    border: 2px solid var(--color-contrast);
    border-radius: 50%;
    background-color: var(--color-hover-secondary);
    background-image: url('../../images/dog.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    transition: all 0.3s linear;
  }

  &Active {
    background-color: var(--hover-primary);

    &::after {
      content: '';
      display: block;
      border: 2px solid var(--color-contrast);
      left: 100%;
      transform: translateY(-50%) translateX(-100%);
    }
  }

  @include onTablet {
    width: 80px;
    height: 34px;
    border-radius: 17px;

    &::after {
      content: '';
      height: 32px;
      width: 32px;
    }
  }
}
