@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.container {
  background-color: $color-black;
  padding: 14px 0;

  @include onTablet {
    padding: 25px 0;
  }
}

.title {
  margin-bottom: 28px;
  text-align: center;

  font-weight: 600;
  font-size: 16px;

  @include onTablet {
    // margin-bottom: 0;
    font-size: 20px;
  }
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding-bottom: 85px;

  @include onTablet {
    row-gap: 0;
    &__personalName,
    &__personalInfo,
    &__personalCard {
      display: flex;
    }
  }

  &__input {
    width: 230px;

    @include onTablet {
      margin: 20px 30px 0;
    }
  }

  &__inputError {
    margin-bottom: 14px;

    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    color: red;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}


