@import '../../styles/main.scss';

.container {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  background-color: $color-primary;

  font-weight: 700;
  font-size: 6px;
  line-height: 7px;

  font-family: 'Montserrat';
  color: #f6f6f6;

  display: flex;
  align-items: center;
  justify-content: center;
  

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(20%) translateY(30%);

  @include onTablet {
    font-weight: 700;
    font-size: 9px;
    line-height: 11px;

    width: 12px;
    height: 12px;
  }
}