@import '../../styles/utils/mixins';

.main {
  max-width: 1262px;
  margin: 0 auto;

  @include onDesktop {
    padding: 0 20px;
  }
}



@include onDesktop {
  .slider {
    display: flex;
    gap: 5px;

    justify-content: space-between;
  }
}


.slider,
.categoryBlock,
.productList,
.saleBanner {
  padding-bottom: 24px;
}