@import '../../styles/utils/mixins';

.main {
  max-width: 1304px;
  margin: 0 auto;
}

.loader {
  max-width: 1312px;
  height: 490px;
  margin: 0 auto;
  padding: 14px 15px 22px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-semi-background);
  border-radius: 6px;

  @include onTablet {
    height: 534px;
  }

  &__title {
    margin-bottom: 14px;

    font-size: 16px;
    line-height: 20px;

    @include onTablet {
      margin-bottom: 25px;

      font-size: 20px;
      line-height: 24px;
    }
  }
}

@include onDesktop {
  .slider {
    display: flex;
    column-gap: 2%;
    align-items: start;
    justify-content: space-between;
  }
}

.slider,
.categoryBlock,
.productList,
.saleBanner {
  margin-bottom: 24px;
}
